name: go

on:
  pull_request:
    paths:
      - "go/**"
      - .github/workflows/go.yaml
      - WORKSPACE
  push:
    branches:
      - main

jobs:
  go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: cache
        id: bazel-cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/bazel
          key: ${{ runner.os }}-bazel-cache-go
      - run: |
          bazel run //go/cmd
