name: proto

on:
  pull_request:
    paths:
      - "proto/**"
      - ".github/workflows/proto.yaml"
      - WORKSPACE
  push:
    branches:
      - main

jobs:
  proto:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: cache
        id: bazel-cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/bazel
          key: ${{ runner.os }}-bazel-cache-proto
      - run: |
          bazel run //:gazelle
          bazel build //proto
